{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
<header class="new-header">
            <span class="site-title">Black Jack</span>
        </header>
    <h1 class="h1"></h1>
{% endblock %}