{% extends 'base.html.twig' %}

{% block body %}
    <h1>Drawn Cards</h1>
    
    <p>Number of cards left in the deck: {{ numCards }}</p>

    <ul>
        {% for card in shuffledCards %}
            <li>{{ card.getColor() }} - {{ card.getValue() }}</li>
        {% endfor %}
    </ul>
{% endblock %}
