{% extends "base.html.twig" %}

{% block body %}
    <h1>Draw a Card</h1>

    <div class="card">
        <div class="card-body">
            <p class="card-text">
               Nu är alla kort i kortleken slut
            </p>
        </div>
    </div>
{% endblock %}
