{% extends "base.html.twig" %}

{% block title %}JSON Game{% endblock %}

{% block body %}
    <h1>Sammanställning av JSON-routes</h1>
    <p>Denna route innehåller dagens citat som JSON-svar med dagens datum och tidsstämpel när citatet generades. <br> Länk till API/quote: <a href="{{ quote_url }}".>API/quote</a><br>
    Länk till API/deck - visar kortleken sorterad per färg och värde i JSON-format <a href="{{ deck_url }}".>API/deck</a><br>
    Länk till API/shuffle - visar kortleken blandad <a href="{{ deck_shuffle }}".>API/shuffle</a>deck_shuffle</p>
    Länk till API/draw - visar ett kort draget från kortleken <a href="{{ deck_draw }}".>API/draw</a>deck_draw</p>
 Länk till API/game - visar upp den aktuella ställningen för spelet i en JSON struktur 
   
    <p></p>
{% endblock %}
