{% extends "base.html.twig" %}

{% block title %}JSON Game{% endblock %}

{% block body %}
    <h1>Sammanställning av JSON-routes</h1>
    <p>Denna route innehåller dagens citat som JSON-svar med dagens datum och tidsstämpel när citatet generades. <br> Länk till API/quote: <a href="{{ quote_url }}".>API/quote</a> </p>
    <p></p>
{% endblock %}
