{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <h1>About mvc</h1>
        <p>Kursen Objektorienterade webbteknologier handlar om att lära sig koda objektorienterat i PHP. Att kunna utveckla och driftsätta en webbapplikation där objektorienterad programmering i ramverk tillsammans med databaser har en central roll.</p>
          <img class="meimg" src="{{ asset('img/mvc.png') }}" alt="">
    </div>
    <div class="col-md-6">
      <p><a href="{{ 'https://github.com/dbwebb-se/mvc.git' }}">Kursens Git-repo</a></p>
        <p><a href="{{ 'https://github.com/alicebrallis/mvc.git' }}">Mitt Git-repo</a></p>
    </div>
</div>
{% endblock %}
