{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
    <h1>About me</h1>
    <p>Hej!
Mitt namn är Alice. Jag är född och uppvuxen i Karlskrona, Blekinge. Jag har läst programmet digital design på Högskolan i Kristianstad. Utbildningen introducerade mig för html, css och lite php och detta fick mig fatta intresse för webbprogrammering. Jag valde att läsa utbildningen webbprogrammering för att utmana mig själv och fördjupa mina kunskaper i ämnet. Förhoppningsvis kommer jag klara det och kunna jobba med det i framtiden. På min fritid tycker jag om att umgås med min familj och vänner och vara ute i skog och natur. Jag brukar gå promenader varje dag i en skog som finns nära där jag bor. När jag är ute och promenerar tycker jag om att fotografera saker jag finner intressanta eller fina i min omgivning. Som många andra i min ålder ägnar jag för mycket tid på mina sociala medier och har svårt att stå emot den typen av tidsfördriv, särskilt instagram. För övrigt är jag en lugn, öppen och glad person </p>
  <img class="meimg" src="{{ asset('img/prbild.jpeg') }}" alt="">
{% endblock %}