{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Kmom01</h1>
<h5>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.
</h5>
<p>Jag har tidigare läst en kurs i objektorienterad programmering med Python (OOPython). Under kursen lärde jag mig grunderna i objektorientering, inklusive skapande av klasser och objekt, arv, inkapsling. Jag har även använt Python för att skapa och använda egna klasser och objekt i olika projekt. Jag har en grundläggande förståelse för hur OOP fungerar och hur det kan användas för att skapa strukturerad och återanvändbar kod.</p>
<h5>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</h5>
<p>I PHP, används klasser som mallar för att skapa objekt. Objekt är som enheter som kan utföra handlingar och lagra information. Klasser innehåller variabler (egenskaper) och funktioner (metoder) som objekt kan använda. En konstruktor används för att konfigurera objektet när det skapas. Med dessa grundläggande begrepp kan man komma igång med att skapa dina egna klasser och objekt i PHP för att organisera och strukturera din kod.</p>
<h5>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h5>
<p>Strukturen i uppgiften "me/report" verkar vara välorganiserad med användning av Symfony-ramverket. Genom att placera kärnkoden och logiken i src-mappen hålls den bort från den offentliga webbåtkomsten, som är public-mappen. Detta är en säkerhetsåtgärd för att skydda känslig kod och data.</p>
<h5>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.
</h5>
<p>PHP är ett programmeringsspråk som används för att bygga och hantera olika typer av webbapplikationer och program. Med PHP kan du organisera din kod på ett strukturerat sätt genom att använda objektorienterad programmering. Det innebär att du kan skapa återanvändbara "objekt" och använda dem för att utföra olika uppgifter.

PHP stöder också funktionell programmering, vilket låter dig använda funktioner på flexibla sätt. Till exempel kan du använda en funktion som om den vore en variabel eller låta funktioner interagera med varandra. Det tycker jag var mest värdefullt.</p>
<h5>Vilken är din TIL för detta kmom?</h5>
<p>Jag har börjat bygga upp strukturen för min webbapplikation och förstått hur man hanterar webbsidor och innehåll.

Jag tänker att nästa steg kan vara att utforska mer avancerade saker som objektorienterad programmering, hur man arbetar med databaser och hur man designar användargränssnitt. </p>
{% endblock %}