{# templates/library/all_books.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Alla böcker{% endblock %}

{% block body %}
    <h1>Alla böcker</h1>
    <table>
        <thead>
            <tr>
                <th>Titel</th>
                <th>Författare</th>
                <th>Handling</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td><a href="{{ path('book_details', {'id': book.id}) }}">Visa detaljer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<h4>
    <form action="{{ path('new_book') }}" method="get">
        <button type="submit" class="btn btn-success">Lägg till ny bok</button>
    </form>
</h4>


{% endblock %}
