{% extends "base.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block body %}
    <h1>Card game</h1>

    <p>This is a classical card game. You can read more on 
    the <a href="https://sv.wikipedia.org/wiki/Kortlek"> 
    basics of the game on Wikipedia</a>.</p>
{% endblock %}
